p {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

h2, h3, h4 {
	font-family: "Roboto Slab", serif;
	color: darkorange;
}

header, h1 {
	font-family: 'Montserrat', sans-serif;
	color: chocolate;
}

ul, li{
	font-family: 'Montserrat', sans-serif;
	color: white;
}

a:link {
	color: red;
}
a:visited {
	color: cornsilk;
}

a:hover {
	color: azure;
	font-size: 24px;
	font-weight: bold;
}

a:active {
	color: beige;
}

body {
	background-image: url("http://forum.unity3d.com/attachments/01-jpg.55292/");
	background-size: cover;
}
address {
	color: gold;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}